*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

html{
    overflow-y: hidden;
    overflow-x: hidden;
}

.super{
    width: 40vw;
    height: 65vh;
    position: absolute;
    right: 25px;
    
}

.txt{
    margin-bottom: 1000px;
}
