*{
    margin: 0; 
    border: 0; 
    padding: 0; 
    font-family: 'Roboto';
  
}
.traco{
    width: 30%;
    height: 5px;
    background-color: #000000;
    border-radius: 30px;
    margin: 2% 0%;
}
body{
    background: rgb(255, 233, 155);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav img{
    width: 100px;
}
nav ul{
    display: flex;
    list-style:none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    width: 50%;
}

nav ul li a{
    text-decoration: black;
    font-size: 1em;
    color: #000000;
}
nav ul li a:hover{
    border-bottom: 3px solid black;
}
#prese{
    padding: 5px 10px;
    margin-right: 20px;
    text-decoration: black;
    font-size: 1em;
    color: #000000;
    border-bottom: 3px solid black;
}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #000000;
    margin-bottom: 3%;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 0%;
}

#fo_lo{
    width: 200px;
}

.corpo{
    background: linear-gradient(0deg, rgba(153,207,208,1) 22%, rgba(252,229,148,1) 100%); 
    display: flex;
    gap: 90px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding:8% 0%;
}
form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 80%;
}
.contatos{ 
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    padding: 3% 0%;
    margin: 3% 0%;
    justify-content: space-between;
}
.informacoes{
    width: 100%;
    margin: 5% 0%;
}

.campos{
    padding: 2%;
    width: 40%;
    flex-grow: 1;
    margin: 1% 0%;
    color: rgb(0, 0, 0);
    background-color: #fcfcfc;
}

.mensagem{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.traco{
    width: 30%;
    height: 5px;
    background-color: #000000;
    border-radius: 30px;
    margin: 2% 0%;
}
#campo_submit{
    padding: 3% 40%;
    background-color:rgb(255, 220, 80);
    color: white;
    color: #fff;
    margin: 1% 0%;
}
.dados{
    display: flex;
    padding: 4% 0%;
}
.dados img{
    width: 25px;
    height: 25px;
    padding: 0% 6%;
}