*{
    margin: 0; 
    border: 0; 
    padding: 0; 
    font-family: 'Roboto';
  
}

body{
    background: rgb(255, 233, 155);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
nav img{
    width: 100px;
}
nav ul{
    display: flex;
    list-style:none;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    width: 50%;
}

nav ul li a{
    text-decoration: black;
    font-size: 1em;
    color: #000000;
}
nav ul li a:hover{
    border-bottom: 3px solid black;
}
#prese{
    padding: 5px 10px;
    margin-right: 20px;
    text-decoration: black;
    font-size: 1em;
    color: #000000;
    border-bottom: 3px solid black;
}

.sobre{
    background: linear-gradient(0deg, rgba(153,207,208,1) 22%, rgba(252,229,148,1) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.traco{
    width: 30%;
    height: 5px;
    background-color: #000000;
    border-radius: 30px;
    margin: 2% 0%;
}
.sobre img{
    padding: 5% 0%;
    width: 30%;
}

h1{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
    text-align: center;
}
p{
    font-family: 'Pacifico', cursive;
font-style: normal;
font-weight: 400;
font-size: 19px;
line-height: 19px;


color: #000000;

}
.formacoes{
    display: flex;
    align-items: center;
    background: rgb(153,207,208);
    flex-direction: column;
    padding: 10% 0%;
}

.formacoes h1{
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
}
.formacoes h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #ffffff;
}
.es-container{
    margin: 3% 0%;
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.es{
    margin: 3% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.es img{
    height: 50%;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3% 0%;
}
#fo_lo{
    width: 200px;
}
.links{
    display: flex;
    justify-content: space-around;
}

.es h1{
    font-family: 'Darumadrop One', cursive;
    font-size: 22px;
}

.es p{
    width: 340px;
}
