*{
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  body{
    background: rgb(32,60,180);
    background: radial-gradient(circle, rgba(32,60,180,1) 19%, rgba(108,40,153,1) 53%, rgba(255,0,249,1) 100%);
    font-size: 24px;
    font-family: sans-serif;
    color: aliceblue;
    
  }
  
  #area
  {
    padding: 20px;
    background: rgb(77,86,187);
    background: linear-gradient(90deg, rgba(77,86,187,1) 32%, rgba(32,60,180,1) 84%);
    position:relative;
    margin-left:35%;
    margin-top:5%;
    width:450px;
    height:500px;
    border-radius: 5px;
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.2);
  }
  
  button{
      background-color: #090b62; 
      border: none;
      color: rgb(255, 255, 255);
      padding: 20px 30px;
      text-align: center;
      text-decoration:solid;
      display: inline-block;
      font-size: 30px;
      border-radius: 30px;
      position:fixed;
      margin-left: 9%;
      margin-bottom: 12%;
      
      
  }

  input{
    background-color: #000000; 
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 14px;
    position:fixed;
   
    
  }

  h1{
    text-align: center;
    font-size: 38pt;
  }
  